

@media only screen and (max-width: 600px){ 
    :root { 
        --hl_divy: 100%;
        --hr_size: 85%;
    } 
    /*** nadpis ***/
    .curriculum{ 
        display: flex; 
        justify-content: center;
    } 

    /*** podtržítko ***/
    .cv-hr { 
        display: flex; 
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    /** první sekce **/
    .basic-information-of-me { 
        display: flex;
        flex-direction: column; 
        width: 100%;
    }  
        /** obalující div  **/
    .basic-information{ 
        display: flex;
        flex-direction: column; 
        width: 100%;
        padding: 1%;
    } 
    /** fotka moje **/
    .img-of-me{ 
       margin-right: 75% ; 
    } 

    /**  tabulky v segmentech **/
    .tables_in_segments { 
        text-align: center;
    }


    .segment{ 
        display: flex; 
        justify-content: center;
        width: 100%; 
        margin-left: 10px;
    } 

    /** info o mě (hlavička)*/
    .info{ 
        position: relative;
        top: 10px;
        left: 16px;
    }

    .another{ 
        margin: 0;
        margin-bottom: 10px;
    }
    /*** h1 ***/
    .my-name { 
        position: absolute;
        left: 45%;
        top: 20%;
    }  

    /** segmenty ***/ 
    .segmenty{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    /*** footer ***/
    footer { 
        display: flex; 
        justify-content: center;
        padding-bottom: 1%;
    }
    
}