@media only screen and (max-width: 1023px) {
  :root {
    --hl_divy: 100%;
    --hr_size: 85%;
  }
  /*** nadpis ***/
  .curriculum {
    display: flex;
    justify-content: center;
  }

  /** první sekce **/
  .basic-information-of-me {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  /** obalující div  **/
  .basic-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
  } 

  /**  tabulky v segmentech **/
  .tables-in-segments {
    text-align: center;
  }

  .segment {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: 10px;
  }

  /** info o mě (hlavička)*/
  .info {
    position: relative;
    width: fit-content;
    top: 10px;
    left: 16px;
  }

  .another {
    margin: 0;
    margin-bottom: 10px;
  }
  /*** h1 ***/
  .my-name {
    position: absolute;
    left: 45%;
    top: 20%;
  }

  /** segmenty ***/
  .segmenty {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*** footer ***/
  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
  }
} 

/***** tablety *****/ 
@media only screen and (min-width: 820px) and (max-width: 1022px){ 
    *{ 
        font-size: 1.1em;
    } 
    .basic-information-of-me { 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }    

    .info-container{ 
        display: flex; 
        flex-direction: column;             
        align-items: center;
    } 

    .info{ 
        width: 70%;
        /* justify-content: flex-start;     */
    } 

    .another { 
        margin: 0;
        
    }

    .my-name{ 
        width: 100%;        
        position: relative;      
        left: 0;   
        margin: 0;  
    }    

    .segment{  
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 2em;
    } 

     /** fotka moje **/
  .img-of-me { 
    margin: 0 auto;
    width: 30%;
  }

      
}
